*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --purple: #d634ff;
    --linear-purple: #db4bffc7;
    --light-purple: #e26eff;
    --lighter-purple: #eedff7;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-medium: #D3D9E2;
    --grey-light: #E5EAF1;
    --grey-medium: #eaecf2;
    /* O padrão de 16px equivale a um (1) rem.
    1rem = 16px (Padrão) (User Agent) = 100% (User Agent)
    font-size: 100%
    Permite o tamanho se adequar ao meio. */
    font-size: 62.5% /* Padrão é 62.5% a partir disso, ou seja, 10px.
    Ao invés de ter que dividir para equivaler ao valor que quer como para dar 28px onde é necessário resolver 28/16, 
    pegar o resultado e multiplicar, no caso 1.75rem, fica mais fácil fazer o cálculo, no caso, calcular 28/10 e multiplico o rem, resultando em 2.8rem.*/
}

h2 {
    /*16px (User Agent) ------> 1.75rem */
    font-size: 2.8rem;
}

body { /* O clamp, font-family e provavelmente outras coisas não funcionam direto no body direito, pois não inclui button, input e textarea.*/
    display: flex;
    height: 100vh; /* View height, 100vh, ou seja, altura total da tela.*/
    /*width: 100vh;  O mesmo para o eixo horizontal.*/
    background: var(--background);
}

body, button, input, textarea { /*Por isso não está no body.*/
    /* Intervalo de tamanho.*/
    font-size: clamp(14px, 1.6rem, 2vw);

    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Poppins', sans-serif; Não é padrão.*/
}

.content {
    width: 100%;
    margin: 0 auto;
}
.sr-only { /* O item "desaparece", mas pode ser lido com esses atributos pelo leitor de tela.*/
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
/*------- Input and buttons. */
input, button, .button {
    border-radius: .8rem;
    height: 5rem;
}

button, .button {
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0; /* O conteúddo dentro do botão só tem uma linha então usar isso para tirar os espaçamentos, pois ele serve para a distância entre os parâgrafos. */

    display: flex;
    align-items: center;
    justify-content: center; /* Não está usando text-align, pois há uma imagem e ela precisa estar alinhada. */
    background: var(--purple);
    color: var(--white);

    transition: filter .2s; /* Ajusta o tempo de transição para dois (2) segundos.*/

    cursor: pointer;
}

button:hover, .button:hover {
    filter: brightness(1.2); /* Dá uma espécie de "brilho", ele clareia.*/
}

button > img,
.button > img {
    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined {
    background: var(--white);
    color: var(--purple);
    border: .2rem solid var(--purple);
}

button.red,
.button.red {
    background: var(--red);
    color: var(--white);
}

button.grey,
.button.grey {
    background: var(--grey-light);
    color: var(--grey-dark);
}

/* Header */

.content header {
    width: 80%;
    margin: 3.5rem auto;
    display: flex;
    align-items: center;
}

.content header img.logo {
    width: 16.7rem;
}