<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Armário - Key.r</title>

        <meta charset="UTF-8">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="icon" href="../images/iconKeyr.svg">

        <!-- VIEW PORT -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- CSS -->
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/header-menu.css">
        <link rel="stylesheet" href="../css/armarios.css">
        <link rel="stylesheet" href="../css/modal.css">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"> 

    </head>
    <body>
        <div id="locker" class="content">
            <header>
                <div class="menuLeft">
                    <button class="manuLateral">
                        <img src="../images/menu-lateral.svg" alt="Menu lateral"/>
                
                    </button>

                    <a href="/">
                        <img src="../images/LogoKey.svg" alt="Key.r Logo"/>
                    </a>
                </div>

                <div class="user-data">
                    <p>Ana de Almeida da Silva</p>
                    <div class="user">
                        <img src="../images/user.svg" alt="Avatar">
                    </div>
                </div>
            </header>

            <main>
                
                <h2>Armários</h2>
                <section id="lockers">
                    <h2 class="sr-only">Armários</h2>
                    <div class="lockers">

                       
                        <div class="lockers-wrapper">
                            <div class="lockers-content">
                                    
                                <div class="head-content">
                                    <div>
                                        <a href="https://github.com/"><img src="../images/widget.svg" alt="Avatar"></a>
                                    </div>
                                    <div class="locker">
                                        <a href="https://github.com/"><p>Campus Jaru</p></a>
                                    </div>
                                </div>
                                
                                <div class="number-lockers">4</div>
                               
                            </div>
                            <div class="actions status">
                                <p>  
                                    14 Disponíveis
                                </p>
                                <p>
                                    <img src="/images/padlock.svg" alt="Cadeado">
                                    12 ocupados
                                </p>
                            </div>
                        </div>

                        <div class="lockers-wrapper">
                            <div class="lockers-content">
                                    
                                <div class="head-content">
                                    <div>
                                        <a href="https://github.com/"><img src="../images/widget.svg" alt="Avatar"></a>
                                    </div>
                                    <div class="locker">
                                        <a href="https://github.com/"><p>Campus Zona Norte</p></a>
                                    </div>
                                </div>
                                
                                <div class="number-lockers">4</div>
                               
                            </div>
                            <div class="actions status">
                                <p>  
                                    3 Disponíveis
                                </p>
                                <p>
                                    <img src="/images/padlock.svg" alt="Cadeado">
                                    20 ocupados
                                </p>
                            </div>
                        </div>

                        <div class="lockers-wrapper">
                            <div class="lockers-content">
                                    
                                <div class="head-content">
                                    <div>
                                        <a href="https://github.com/"><img src="../images/widget.svg" alt="Avatar"></a>
                                    </div>
                                    <div class="lockers">
                                        <a href="https://github.com/"><p>Campus Calama</p></a>
                                    </div>
                                </div>
                                
                                <div class="number-lockers">4</div>
                               
                            </div>
                            <div class="actions status">
                                <p>  
                                    1 Disponíveis
                                </p>
                                <p>
                                    <img src="/images/padlock.svg" alt="Cadeado">
                                    15 ocupados
                                </p>
                            </div>
                        </div>
                       

                        <!-- <div class="noLocker">
                            <img src="/images/questionsNone.svg" alt=" Sem questões">

                            <p class="">Não há armário ainda...</p>

                        </div> -->

                    </div>                   
                </section>
            </main>
        </div>
    </body>
</html>